{% extends "master.html.twig" %}
{% block title %}Property list{% endblock %}
{% block headextra %}
    {% for p in list %}
        <script>
            var map;
            var infowindow;
            function initMap() {
                var pyrmont = {lat:{{p.latitude}}, lng:{{p.longitude}}};
                map = new google.maps.Map(document.getElementById('map'), {
                    center: pyrmont,
                    zoom: 15
                });
                infowindow = new google.maps.InfoWindow();
                var service = new google.maps.places.PlacesService(map);
                service.nearbySearch({
                    location: pyrmont,
                    radius: 500,
                    type: ['store']
                }, callback);
            }
            function callback(results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    for (var i = 0; i < results.length; i++) {
                        createMarker(results[i]);
                    }
                }
            }
            function createMarker(place) {
                var placeLoc = place.geometry.location;
                var marker = new google.maps.Marker({
                    map: map,
                    position: place.geometry.location
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent(place.name);
                    infowindow.open(map, this);
                });
            }
        </script>
    {% endfor %}

{%endblock %}

    
{% block content %}

    <html>
        <body>
            <div class="container">
               <div class="well">
                    <h3 style="text-align:center;">Property Google map</h3>
                    <div id="map"></div>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEoEf7uVL9H2QJItVS6hLmMs46ta9ohbE&libraries=places&callback=initMap">
                    </script>
                </div>
            <div class="container">
                <div class="well">
                    <h1 style="text-align:center;" >Property list</h1>                

                    <table style="text-align:center;" border=1>
                        <tr>
                            <th>Title</th>
                            <th>Property Type</th>
                            <th>Room</th>
                            <th>Bath</th>
                            <th>Parking</th>
                            <th>Price</th>
                            <th>Squre Feet</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        {% for p in list %}
                            <tr class="{% if loop.index is odd %}rowodd{% else %}roweven{% endif %}">

                                <td><a href="/property/new/{{p.propertyId}}">{{p.title}}</a></td>
                                <td>{{p.propertyType}}</td>
                                <td>{{p.room}}</td>
                                <td>{{p.bath}}</td>
                                <td>{{p.parking}}</td>
                                <td>{{p.price}}</td>
                                <td>{{p.squreFeet}}</td>
                                <td>{{p.description}}</td>
                                <td><img src="{{p.imagePath}}"  width="250"></td>
                                <td width="50">
                                    <img src="/images/delet.png" alt="delete"><a href="/property/delete/{{p.propertyId}}">Delete</a><br><br>
                                    <img src="/images/edit.png" alt="edit"><a href="/property/edit/{{p.propertyId}}">Edit</a><br><br>
                                    <img src="/images/location.png" alt="location"><a href="/property/googlemap/{{p.propertyId}}">Location</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="7"> You have no property</td></tr>
                        {% endfor %}
                    </table>   
                    <br>
                    <br>
                    <h3 style="text-align:center;" ><a href="/property/add">Add New Property</a></h3>
                </div>
            </div>
        </body>
    </html>

{% endblock %}