{% extends "master.html.twig" %}
{% block title %}Property list{% endblock %}
{% block content %}

    <html>
        <body>
            <div class="container">
                <div class="well">
                    <h1 style="text-align:center;" >Property list</h1>                

                    <table style="text-align:center;" border=1>
                        <tr>
                            <th>Title</th>
                            <th>Property Type</th>
                            <th>Room</th>
                            <th>Bath</th>
                            <th>Parking</th>
                            <th>Price</th>
                            <th>Squre Feet</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        {% for p in list %}
                            <tr class="{% if loop.index is odd %}rowodd{% else %}roweven{% endif %}">

                                <td><a href="/property/new/{{p.propertyId}}">{{p.title}}</a></td>
                                <td>{{p.propertyType}}</td>
                                <td>{{p.room}}</td>
                                <td>{{p.bath}}</td>
                                <td>{{p.parking}}</td>
                                <td>{{p.price}}</td>
                                <td>{{p.squreFeet}}</td>
                                <td>{{p.description}}</td>
                                <td><img src="{{p.imagePath}}"  width="250"></td>
                                <td width="50">
                                    <img src="/images/delet.png" alt="delete"><a href="/property/delete/{{p.propertyId}}">Delete</a><br><br>
                                    <img src="/images/edit.png" alt="edit"><a href="/property/edit/{{p.propertyId}}">Edit</a><br><br>
                                    <img src="/images/location.png" alt="location"><a href="/property/googlemap/{{p.propertyId}}">Location</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr><td colspan="7"> You have no property</td></tr>
                        {% endfor %}
                    </table>   
                    <br>
                    <br>
                    <h3 style="text-align:center;" ><a href="/property/add">Add New Property</a></h3>
                </div>
            </div>
        </body>
    </html>

{% endblock %}