{% extends "master.html.twig" %}

{% block title %}Add property{% endblock %}


{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h3>Add property</h3>
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        Title:  <input type="text" name="title" value="{{v.title}}"><br>
                        Property Type: 
                        <select name="propertyType">
                            <option value="appartement">Appartement</option>
                            <option value="duplex">Duplex</option>
                            <option value="townHouse">Town House</option>
                            <option value="house">House</option>
                            <option value="villa">Villa</option>
                        </select><br>
                        Latitude:  <input type="number" min="-90 " max="+90 " step="0.01" name="latitude" value="{{v.latitude}}"><br>
                        Longitude: <input type="number" min="-180 " max="+180 " step="0.01" name="longitude" value="{{v.longitude}}"><br>
                        room: <input type="number" min="0" max="10" step="1" name="room" value="{{v.room}}"><br>
                        Bath: <input type="number" min="0" max="10" step="1" name="bath" value="{{v.bath}}"><br>
                        Parking: <input type="number" min="0" max="10" step="1" name="parking" value="{{v.parking}}"><br>
                        Price: <input type="number" min="0" max="999999" step="0.01" name="squreFeet" value="{{v.squreFeet}}"><br>
                        SqureFeet: <input type="number" min="0" max="999999" step="0.01" name="price" value="{{v.price}}"><br>
                        Description:  <input type="text" name="description" value="{{v.description}}"><br>
                        Image: <input type="file" name="propertyImage" ><br><br>
                        <input type="submit" value="Add Property">
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
